# NASA API key (get one at https://api.nasa.gov/)
NASA_API_KEY=DEMO_KEY

# The Guardian API key (get one at https://open-platform.theguardian.com/access/)
GUARDIAN_API_KEY=

# Metals.dev API key (get one at https://metals.dev/)
METALS_API_KEY=

# Alpha Vantage API key (get one at https://www.alphavantage.co/support/#api-key)
ALPHA_VANTAGE_KEY=
